@use "../../styles/definitions" as *;

.fat {
  @include square(auto);
  @include button-hover-animation(lightgray);

  position: relative;
  display: block;
  border-radius: 12px;
  padding: 10% 10% 10% 10%;
  grid-column: span 2;
}