@use "../../styles/definitions" as *;

.button {
  @include square(auto);
  @include button-hover-animation(lighten(darkgoldenrod, 10));
  @include button-after-click-effect(pink);

  position: relative;
  display: block;

  background-color: darkgoldenrod;
  border-radius: 12px;
  padding: 10%;
}